
body {
    font-family: 'Times New Roman', serif;
    color: #fee5fd
}

/* title */
.largecenteredtext {
    font-size: 48px;
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
}



.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}


.container {
    background-color: rgba(107, 39, 132, 0.71);
    background-image: url("images/purplepattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-bottom: 5%;
    padding-right: 10%;
    margin: 0 auto;
}


nav {
    text-align: center;
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    text-decoration:wavy;
    color: #97ffff;
    font-size: 18px}


a:hover {
    color: #44bcec;
}

/*pictures*/
img {
    width: 800px;
    max-width: 80%;
    height: auto;
}


.main-section {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.left,
.right {
    width: 40%;
    display: inline-block;
}

.left h2,
.right h2 {
    font-size: 28px;
    margin-bottom: 15px;
}



iframe {
    display: block;
    margin: 40px auto;
}




table,
th,
td {
    border: 1px solid #f3e6f3;
    text-align: center;
    padding: 30px;
}


.email-signup {
    text-align: center;
    margin-top: 30px;
}

.email-signup input,
.email-signup button {
    padding: 10px;
}



@media all and (min-width: 320px) and (max-width: 780px) {
    .container {
        background-color: darkcyan;
    }
    
    
    
